# Standard Go gitignore
/bin/
# /dist/
*.exe

*.test
*.prof
vendor/

# OS specific
.DS_Store
Thumbs.db

# Request specific
*.db
*.wasm
*.db-shm
*.db-wal
node_modules/
# Build outputs of sdk/js/build.mjs
sdk/js/wasm_exec.js
examples/todo/gosync/
*.wasm.br
*.wasm.gz
